/* General styles for ProjectContainer and children */
.ProjectContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
    padding: 100px 0;
}

.ProjectContainer h1 {
    padding-bottom: 15px;
}

.ProjectContainer p {
    padding-bottom: 20px;
}

.projectContainer__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    margin-top: 50px;
}

.projectContainer__headline {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

/* Media queries for responsiveness */
@media screen and (max-width: 950px) {
    .ProjectContainer {
        padding: 100px 0;
        overflow-y: hidden;
    }

    .projectContainer__projects {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .ProjectContainer {
        padding: 50px 0;
    }

    .projectContainer__projects {
        width: 100%;
    }

    .ProjectContainer h1 {
        font-size: 24px;
        text-align: center;
    }

    .ProjectContainer p {
        font-size: 16px;
        text-align: center;
    }

    .projectContainer__headline {
        font-size: 18px;
    }
}
