/* General styles for the project section */
.project img {
    width: 350px;
    height: 200px;
}

.project {
    width: 350px;
    height: 200px;
    transition: transform 100ms ease-in;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
}

.project:hover {
    background-color: var(--span);
    color: white;
    transform: scale(1.02);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__content {
    padding: 10px;
}

.project__content h4 {
    padding-bottom: 5px;
}

.project__content p {
    font-size: 15px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 900px) {
    .projectBox {
        width: 450px;
        height: 300px;
        margin-bottom: 40px;
    }

    .project {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }

    .project img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .projectBox {
        width: 90%;
        height: auto;
        margin-bottom: 40px;
    }

    .project {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .project img {
        width: 100%;
        height: auto;
    }
}
